*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

#font {
    font-family: 'Gowun Batang', serif;
}

.Award {
    width: 28px;
    height: 28px;
}